<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Produção -->
     <add name="SICAConnectionString" connectionString="Data Source=rfsql01;Initial Catalog=SICA_V2;User ID=appSICA;Password=mugUrMKgfvhfj7u5rf6" providerName="System.Data.SqlClient"/>
    <add name="ActiveDirectoryConnectionString" connectionString="Data Source=rfsql01;Initial Catalog=ActiveDirectory;User ID=appSICA;Password=mugUrMKgfvhfj7u5rf6" providerName="System.Data.SqlClient"/>
    <!-- Desenvolvimento -->
    <!--<add name="SICAConnectionString" connectionString="Data Source=rforsqldev02;Initial Catalog=SICA;User ID=appSICA;Password=mugUrMKgfvhfj7u5rf6" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!-- DisplayLogRefreshInterval: intervalo em segundos para refresh da página de log-->
    <!-- AlarmDaysToShow: numero de dias para mostrar os alarmes-->
    <!-- AlarmRefreshInterval: intervalo em segundos para refresh da página de alarmes-->
    <!-- CartoesForaRefreshInterval: intervalo em segundos para refresh da página de cartões atribuídos-->
    <!-- ZonasRefreshInterval: intervalo em segundos para refresh da página de resumo das zonas-->
    <!-- AcessoDeConfiguracao: utilizadores com acesso à página "ConfigurarAcessos.aspx"-->
    <!-- AcessoAHistorico: utilizadores com acesso ao menu de Historico"-->
    <!-- SessionTimeOut: tempo de vida de uma sessão inactiva (em minutos)"-->
    <add key="DisplayLogRefreshInterval" value="5"/>
    <add key="AlarmDaysToShow" value="2"/>
    <add key="AlarmsRefreshInterval" value="60"/>
    <add key="CartoesForaRefreshInterval" value="15"/>
    <add key="ZonasRefreshInterval" value="60"/>
    <add key="AcessoDeConfiguracao" value="ajsfernandes;tzcorreia"/>
    <add key="AcessoAHistorico" value="ajsfernandes;tzcorreia;jcssilva"/>
    <add key="SessionTimeOut" value="30"/>
    <add key="ShowRefreshTime" value="0"/>
  </appSettings>
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SMIMethodsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5242880" maxBufferPoolSize="524288" maxReceivedMessageSize="5242880" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- http://localhost:50696/SMIMethods.asmx -->
      <!-- http://websvcdev.refer.pt/wssmiserver/SMIMethods.asmx -->
      <!-- http://websvc.refer.pt/wssmiserver/SMIMethods.asmx -->
      <endpoint address="http://websvc.refer.pt/wssmiserver/SMIMethods.asmx" binding="basicHttpBinding" bindingConfiguration="SMIMethodsSoap" contract="SMIMethodsWebService.SMIMethodsSoap" name="SMIMethodsSoap"/>
    </client>
  </system.serviceModel>
</configuration>