<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <!-- Desenvolvimento
    <add name="AlizesConnectionString" connectionString="Data Source=rforsqldev02;Initial Catalog=Alizes;User ID=appSICA;Password=mugUrMKgfvhfj7u5rf6" providerName="System.Data.SqlClient"/>
    <add name="SICAConnectionString" connectionString="Data Source=rforsqldev02;Initial Catalog=SICA;User ID=appSICA;Password=mugUrMKgfvhfj7u5rf6" providerName="System.Data.SqlClient"/>
     -->
    <!-- Produção -->
    <add name="AlizesConnectionString" connectionString="Data Source=rfsql01;Initial Catalog=Alizes;User ID=appSICA;Password=mugUrMKgfvhfj7u5rf6" providerName="System.Data.SqlClient"/>
		<add name="SICAConnectionString" connectionString="Data Source=rfsql01;Initial Catalog=SICA;User ID=appSICA;Password=mugUrMKgfvhfj7u5rf6" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="LDAPRefer" value="refer.pt"/>
		<add key="RootDSERefer" value="DC=refer,DC=pt"/>
		<add key="OUCessadosREFER" value="OU=UtilizadoresREFERCessados"/>
		<add key="idFamiliaInicialREFER" value="30"/>
		<add key="fotoURLREFER" value="http://aplicacoes.refer.pt/"/>
		<add key="fotoPATHREFER" value="\\rforfs02\webapps$\"/>

		<add key="OUCessadosREFERTelecom" value="n/a"/>
		<add key="idFamiliaInicialREFERTelecom" value="34"/>
		<add key="fotoURLREFERTelecom" value=""/>
		<add key="fotoPATHREFERTelecom" value=""/>

    <add key="OUCessadosREFERPatrimonio" value="n/a"/>
    <add key="idFamiliaInicialREFERPatrimonio" value="95"/>
    <add key="fotoURLREFERPatrimonio" value=""/>
    <add key="fotoPATHREFERPatrimonio" value=""/>

    <add key="OUCessadosREFEREngineering" value="n/a"/>
    <add key="idFamiliaInicialREFEREngineering" value="30"/>
    <add key="fotoURLREFEREngineering" value=""/>
    <add key="fotoPATHREFEREngineering" value=""/>

    <add key="mailserver" value="hubmail.refer.pt"/>
		<add key="fromemail" value="webmaster@refer.pt"/>
		<add key="reportemail" value="ajsfernandes@refer.pt"/>
	</appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="Application"/>
        </sharedListeners>
    </system.diagnostics>
</configuration>
